body{
    min-width: 350px;
}
#authenticate{
    white-space: nowrap;
}

.toast {
    z-index: -9999;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}

.toast-success{
    background-color: aquamarine;
}

.toast-danger{
    color: white;
    background-color: #ff26e2;
}

.toast-showing {
    z-index: 9999;
}

.btn{
    min-width: 90px;
}

.tweet-text {
    width: 100%;
    height: 80px;
}

.check-lg {
    transform: scale(1.5)
}

.before-login{
    padding:1rem;
    width:300px;
}

.parent{
    position:relative
}

.row{
    margin:0px;
}

.col-8,
.col-4{
    padding:0px;
}


.check-attach{
    position:absolute;
    top:50%;
    transform:translate(0,-50%);
}

#logout {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
}

#tweet{
    position: absolute;
    right:5px;
}

.ope-row{
    height:40px;
}

.screenshot-preview {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    border: 3px solid darkcyan;
}

.text-length{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
}

.valid{

}

.invalid{
    color:red;
}